<h1>Nueva Evaluaci&oacuten</h1>

<table>
<tr>
	<td><b>Profesor:</b></td> <td>Luis Ulfe</td>
</tr>
<tr>
	<td><b>Curso: </b></td>  <td>Investigaci&oacuten Operacional</td>
</tr>
<tr>
	<td colspan="2">&nbsp;</td>
</tr>
<tr>
	<td colspan="2">Por favor responder las siguientes preguntas:</td>
</tr>
<tr>
	<td colspan="2">&nbsp;</td>
</tr>
</table>

<table>
<tr>
	<td colspan = "4"><b>1. ¿C&oacutemo considera la metodolog&iacutea de enseñanza del profesor?</b></td>
</tr>
<tr>
	<td>
		<fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">

		    	<input type="radio" name="radio-choice-1" id="radio-mini-1" value="choice-1" checked="checked" />
		    	<label for="radio-mini-1">Malo</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-2" value="choice-2"  />
		    	<label for="radio-mini-2">Regular</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-3" value="choice-3"  />
		    	<label for="radio-mini-3">Bueno</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-4" value="choice-4"  />
		    	<label for="radio-mini-4">Excelente</label>
		</fieldset>
	</td>
</tr>

<tr>
	<td colspan="4">&nbsp;</td>
</tr>

<tr>
	<td colspan = "4"><b>2. ¿C&oacutemo considera el nivel de conocimientos del profesor?</b></td>
</tr>
<tr>
	<td>
		<fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">

		    	<input type="radio" name="radio-choice-1" id="radio-mini-1" value="choice-1" checked="checked" />
		    	<label for="radio-mini-1">Malo</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-2" value="choice-2"  />
		    	<label for="radio-mini-2">Regular</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-3" value="choice-3"  />
		    	<label for="radio-mini-3">Bueno</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-4" value="choice-4"  />
		    	<label for="radio-mini-4">Excelente</label>
		</fieldset>
	</td>
</tr>

<tr>
	<td colspan="4">&nbsp;</td>
</tr>

<tr>
	<td colspan = "4"><b>3. ¿C&oacutemo considera el sistema de calificaci&oacuten del profesor?</b></td>
</tr>
<tr>
	<td>
		<fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">

		    	<input type="radio" name="radio-choice-1" id="radio-mini-1" value="choice-1" checked="checked" />
		    	<label for="radio-mini-1">Malo</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-2" value="choice-2"  />
		    	<label for="radio-mini-2">Regular</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-3" value="choice-3"  />
		    	<label for="radio-mini-3">Bueno</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-4" value="choice-4"  />
		    	<label for="radio-mini-4">Excelente</label>
		</fieldset>
	</td>
</tr>

<tr>
	<td colspan="4">&nbsp;</td>
</tr>

<tr>
	<td colspan = "4"><b>4. ¿C&oacutemo considera el desempeño del profesor en cuanto a entrega de notas?</b></td>
</tr>
<tr>
	<td>
		<fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">

		    	<input type="radio" name="radio-choice-1" id="radio-mini-1" value="choice-1" checked="checked" />
		    	<label for="radio-mini-1">Malo</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-2" value="choice-2"  />
		    	<label for="radio-mini-2">Regular</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-3" value="choice-3"  />
		    	<label for="radio-mini-3">Bueno</label>

		    	<input type="radio" name="radio-choice-1" id="radio-mini-4" value="choice-4"  />
		    	<label for="radio-mini-4">Excelente</label>
		</fieldset>
	</td>
</tr>

</table>


<%= render 'form' %>

<%= link_to 'Back', evaluations_path %>
