<p style="text-align:justify">
  <p>Últimas evaluaciones relizadas</p>
</p>

<% @results.each do |result| %>
  <ul data-role="listview" data-theme="g" data-filter="true" >
    <li>
      <%= link_to result.teacher.names + " " + result.teacher.last_name + " " + result.teacher.second_last_name, "#" %>
      <span class="ui-li-count">
      <%= result.teacher.evaluations.count %>
      </span>
    </li>
  </ul>
<% end %>

<% if @results.empty? %>
  <em>No se ha realizado ninguna evaluación</em>
<% end %>