<p style="text-align:justify">
  <p>Selecciona un profesor...</p>
</p>

<% if @teachers.empty? %>
  <em>No hay profesores registrados</em>
<% else %>
  <ul data-role="listview" data-theme="g" data-filter="true" >
    <% @teachers.each do |teacher| %>
        <li>
          <%= link_to teacher.names + " " + teacher.last_name + " " + teacher.second_last_name, "#" %>
          <span class="ui-li-count">
	        <%= teacher.count_evaluations %>
	      </span>
        </li>
    <% end %>
  </ul>
<% end %>