<p style="text-align:justify">
  <p>Últimas evaluaciones relizadas</p>
</p>

<% if @results.empty? %>
  <em>No se ha realizado ninguna evaluación</em>
<% else %>
  <ul data-role="listview" data-theme="g" data-filter="true" >
    <% @results.each do |result| %>
      <li>
        <%= link_to result.teacher.names + " " + result.teacher.last_nam + " " + result.teacher.second_last_name, "#" %>
        <span class="ui-li-count">
        <%= result.teacher.evaluations.count %>
        </span>
      </li>
    <% end %>
  </ul>
<% end %>