<p id="notice"><%= notice %></p>

<p>
  <b>Grade:</b>
  <%= @evaluation_detail.grade %>
</p>


<%= link_to 'Edit', edit_evaluation_detail_path(@evaluation_detail) %> |
<%= link_to 'Back', evaluation_details_path %>
